<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Yoneda</title>
</head>
<style>
body{
	background-color:#ffffff;
	font-family: sans-serif;
}
a:link, a:visited{
	color: #ff0000;
}
.contents{
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
</style>
<body>
<div class="contents">
  <h2>Yoneda Kouhei</h2>
  <p>ソフトウェアエンジニア</p>
  <p>大学院では自然言語処理を研究</p>
  <p>ものづくり好き</p>
  <h4>あたまの中</h4>
  <% for(var article of scrapbox) { %><p>　<a href="<%= article[2] %>" target="_blank"><%= article[0] %> [<%= article[1] %>]</a></p>
  <% } %><h4>つくったもの</h4>
  <p>　<a href="http://www.dl.is.ritsumei.ac.jp/yoneda/" target="_blank">テキスト書き手の性別を推定する [2018/2]</a></p>
  <p>　<a href="http://yonedakouhei.com/nogizaka46/" target="_blank">乃木坂46の名前を覚える [2017/5]</a></p>
  <p>　<a href="https://itunes.apple.com/jp/app/pandanotaputapumarason/id1047924424" target="_blank">パンダの2Dゲーム [2016/10]</a></p>
  <h4>書いたもの</h4>
  <% for(var article of qiita) { %><p>　<a href="<%= article[2] %>" target="_blank"><%= article[0] %> [<%= article[1] %>]</a></p>
  <% } %>
</div>
</body>
</html>
